meta(name='title' content=config.title)
meta(name='sub title' content=config.subtitle)
meta(name='description' content=config.description)
meta(name='key words' content=config.keywords)
meta(name='author' content=config.author)
meta(name='language' content=config.language)
